/BlobRegressionTest.java
/CachedRowsetTest.java
/CallableStatementRegressionTest.java
/CharsetRegressionTest.java
/ConnectionRegressionTest.java
/DataSourceRegressionTest.java
/DateTimeRegressionTest.java
/EscapeProcessorRegressionTest.java
/ExceptionSubclassesTest.java
/MetaDataRegressionTest.java
/MicroPerformanceRegressionTest.java
/NonLocalSocketFactory.java
/NumbersRegressionTest.java
/PooledConnectionRegressionTest.java
/ResultSetRegressionTest.java
/StatementRegressionTest.java
/StressRegressionTest.java
/StringRegressionTest.java
/SubqueriesRegressionTest.java
/SyntaxRegressionTest.java
/UtilsRegressionTest.java
