/AbstractPropertyDefinition.java
/AbstractRuntimeProperty.java
/BooleanProperty.java
/BooleanPropertyDefinition.java
/DefaultPropertySet.java
/EnumProperty.java
/EnumPropertyDefinition.java
/IntegerProperty.java
/IntegerPropertyDefinition.java
/LongProperty.java
/LongPropertyDefinition.java
/MemorySizeProperty.java
/MemorySizePropertyDefinition.java
/StringProperty.java
/StringPropertyDefinition.java
