/FailoverConnectionUrl.java
/FailoverDnsSrvConnectionUrl.java
/LoadBalanceConnectionUrl.java
/LoadBalanceDnsSrvConnectionUrl.java
/ReplicationConnectionUrl.java
/ReplicationDnsSrvConnectionUrl.java
/SingleConnectionUrl.java
/XDevApiConnectionUrl.java
/XDevApiDnsSrvConnectionUrl.java
