/a_Go to Homepage.rs
/a_Make Appointment.rs
/button_Book Appointment.rs
/button_Login.rs
/h2_Appointment Confirmation.rs
/input_Demo account_form-control.rs
/input_Demo account_form-control_1.rs
/input_Password_password.rs
/input_Username_username.rs
/input_Visit Date (Required)_visit_date.rs
/label_Apply for hospital readmission.rs
/select_Tokyo CURA Healthcare Center        _5b4107.rs
/td_17.rs
/textarea_Comment_comment.rs
