/Login CURA Manual.tc
/Login GitHub Manual.tc
/Login GitLab Manual.tc
/RecordModeGitHub.tc
/RecordModeGitLab.tc
/RecordModeKatalon.tc
/ScriptMode Astra.tc
/ScriptMode GitHub.tc
/ScriptMode Lazada.tc
/ScriptMode Tokped.tc
/ScriptMode.tc
/TestManualModeTokped.tc
